<%- include partials/htmlBoilerHead %>
<%- include partials/navbar %>

<h1>
    <%= title %>
</h1>

<div class="book book-single">

    <p> Title: <%= books[0].title %> </p>
    <p>Author: <%= books[0].author %></p>

    <div class="btns"><a href="http://localhost:3000/books/book/edit/<%= books[0].id%>" class="edit">Edit</a>
        <form method="POST" action="?_method=DELETE">
            <button id="delete">Delete</button>
        </form>
    </div>
</div>

<%- include partials/htmlBoilerFooter %>